[submodule "external/Unity"]
	path = external/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "external/openssl-gost"]
	path = external/openssl-gost
	url = https://github.com/gost-engine/engine
	branch = openssl_1_1_0_release2
[submodule "external/c-thread-pool"]
	path = external/c-thread-pool
	url = https://github.com/Pithikos/C-Thread-Pool
